* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
}



.headbgimg {
  height: 100vh;
  background-image: url(multimedia/burger.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.flexbox {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 27px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9999999999999999) 85%, rgba(0, 0, 0, 0.9999999999999999) 100%);
}

.navlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-right: 45px;

}

.navlink>a {
  color: whitesmoke;
  font-weight: 900;
  text-decoration: none;
  font-size: 21px;
}

.navlink>a:hover {
  color: rgb(226, 247, 74);
  border-bottom: 3px solid aqua;
  border-left: 3px solid aqua;
  border-bottom-left-radius: 12px;
  font-weight: 900;
  font-size: 24px;
}

.logo>img {
  height: 63px;
  margin-left: 20px;
}

.headcontent {
  display: flex;
  flex-direction: column;
  width: 36%;
  height: 75vh;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 30px 45px;
}


.headcontent>a,
.bigburcontent>a,
.pack>a {

  font-size: 21px;
  padding: 10px 45px;
  border-radius: 81px;
  color: whitesmoke;
  font-weight: 600;
  background-color: rgb(236, 56, 56);
  text-decoration: none;

}

.headcontent>a:hover {
  background-color: #96160b;
}


.headcontent>p,
.bestburcontent>p,
.bigburcontent>p {
  font-size: 27px;
  text-align: justify;

}


.headcontent>h1,
.bestburcontent>h1,
.bigburcontent>h1 {
  font-size: 72px;
  letter-spacing: 3px;
  word-spacing: 18px;

}


.chefbgimg,
.statistics,
.popbg {
  height: 100vh;
  background-color: cornsilk;
  color: #f64f40;
  position: relative;
}


.chefheading,
.stateheading {
  height: 27vh;
  width: 50%;
  padding-top: 12vh;
  text-align: center;
  margin: 0 auto;
}


.chefheading>h1,
.stateheading>h1 {
  font-size: 45px;
}


.chefheading>p,
.stateheading>p {
  font-size: 21px;
  margin-top: 6vh;
}


.chefpr,
.stateinfo {
  height: 50vh;
  width: 75vw;
  margin: 0 auto;
  margin-top: 81px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.photo>img,
.incust,
.inout,
.incountry {
  width: 250px;
  height: 33vh;
}


.photo,
.incust,
.inout,
.incountry {
  border-radius: 50%;
  overflow: hidden;
}


.chef>p,
.incust,
.inout,
.incountry {
  font-weight: 720;
  font-size: 27px;
  text-align: center;
  margin-top: 19px;
}

.chef>:nth-child(3) {
  font-size: 15px;
  font-weight: 600;
}

.cheffoodimg>img {
  position: absolute;
}

.cheffoodimg>:nth-child(1) {
  left: 210px;
  top: 90px;
}

.cheffoodimg>:nth-child(2) {
  right: 90px;
  top: 138px;
}

.cheffoodimg>:nth-child(3) {
  bottom: 326px;
  left: 5px;
}

.cheffoodimg>:nth-child(4) {
  bottom: 150px;
  right: 5px;
}

.cheffoodimg>:nth-child(5) {
  bottom: 27px;
  right: 1000px;
}

.cheffoodimg>:nth-child(6) {
  bottom: 27px;
  right: 500px;
}

.bestburger {
  height: 100vh;
  background-color: rgb(246, 75, 60);
  display: flex;
  justify-content: center;
  align-items: center;
}


.bestbur,
.bigbur {
  height: 69vh;
  width: 81%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.bestburimg,
.bigburimg {
  border-radius: 50%;
  overflow: hidden;
  height: 54vh;
}


.bestburcontent,
.bigburcontent {
  display: flex;
  flex-direction: column;
  width: 36%;
  height: 54vh;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 30px 45px;
}

.bestburcontent>a {
  font-size: 21px;
  padding: 10px 45px;
  border-radius: 81px;
  color: rgb(246, 75, 60);
  font-weight: 600;
  background-color: whitesmoke;
  text-decoration: none;
}

.bigburger {
  height: 100vh;
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.bigburcontent>p,
.bigburcontent>h1 {
  color: rgb(246, 75, 60);
}

.statistics {

  background-color: #f64f40;
  color: whitesmoke;
  position: static;
}


.incust,
.inout,
.incountry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 3px solid white;
}


.incust>:nth-child(1),
.inout>:nth-child(1),
.incountry>:nth-child(1) {
  font-size: 90px;
}

.popbg>h1 {
  font-size: 45px;
  text-align: center;
  padding-block: 96px;
}

#packages {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pack {
  width: 21%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 9px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}

.barrybgimg {
  height: 100vh;
  background-image: url(multimedia/barry.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.barrybgclr {
  height: 100vh;
  background-color: rgba(221, 74, 74, 0.694);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.barrycontent {
  height: 39vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.barrycontent>p {
  font-size: 27px;
}

.barrycontent>h2 {
  font-size: 39px;
}

.update {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 248, 220, 0.842);
  height: 100vh;
  position: relative;
  color: black;
}

.inupd {
  height: 50vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.inupd>h1 {
  font-size: 54px;
  color: #f64f40;
  width: 50vw;
  text-align: center;
  word-spacing: 9px;
  letter-spacing: 3px;

}

.inupd>p {
  font-size: 21px;
  color: #f64f40;
  text-align: center;

}

#subscribe>input {
  background-color: whitesmoke;
  border: none;
  height: 45px;
  width: 450px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#subscribe>button {
  background-color: #f64f40;
  font-weight: 600;
  border: none;
  width: 180px;
  height: 45px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}


#foot {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

#foot1 {
  height: 54vh;
  width: 93vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}

.aso {

  display: flex;
  column-gap: 100px;
  width: 50vw;
}

.title {
  width: 30%;
}

.sslinks a {
  text-decoration: none;
  margin-right: 15px;
  font-size: 39px;
}

#foot .title p,
span {
  margin: 21px 0px;
  font-size: 27px;
}

#foot h4 {
  font-size: 33px;
  margin-top: 100px;
}

#foot .aso p {
  margin: 6px 0px;
  font-size: 21px;
}